@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 120px;
  max-width: 1440px;
}

.logo {
  width: 81px;
}

.text-wrapper {
  font-style: normal;
  width: 440px;
}

.text-wrapper--about {
  width: 450px;
}

.text-wrapper--bigger {
  width: 490px;
}

.small-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.small-title--centered {
  color: #0666f6;
  text-align: center;
}

.small-title--about {
  color: #0666f6;
}

.title {
  padding: 24px 0;
  font-size: 72px;
  color: #fff;
  font-family: "Black Ops One";
  line-height: 80px;
  letter-spacing: -3px;
}

.title--centered {
  font-size: 56px;
  color: #4d5163;
  letter-spacing: -2px;
  padding: 21px 0 11px;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  line-height: 64px;
}

.title--left {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
}

.title--about {
  color: #4d5163;
  letter-spacing: -2px;
  font-size: 56px;
  line-height: 64px;
}

.title--started {
  padding: 21px 0 11px;
  font-size: 56px;
  letter-spacing: -2px;
}

.description {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin-bottom: 33px;
}

.description--centered {
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  max-width: 570px;
  color: rgba(77, 81, 99, 0.5);
}

.description--about {
  color: #4d5163;
  font-size: 20px;
  margin-bottom: 18px;
}

.description--about-lighter {
  color: rgba(77, 81, 99, 0.5);
  margin-bottom: 41px;
}

.description--left {
  color: #fff;
  font-size: 20px;
  margin-bottom: 18px;
}

.description--contact {
  color: #fff;
  font-size: 20px;
}

.description--footer {
  margin-bottom: 0;
}

.img-wrapper {
  position: relative;
  width: 638px;
  height: 530px;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  height: 530px;
  background-color: #302f4a;
  border-radius: 50%;
}

.img-wrapper img {
  position: absolute;
}

.img-wrapper__center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 314px;
}

.img-wrapper__szlaczek {
  right: 0;
  bottom: 40px;
}

.img-wrapper__first {
  left: 41px;
  top: 55px;
}

.img-wrapper__second {
  left: 0;
  bottom: 53px;
}

.img-wrapper__third {
  right: 56px;
  top: 55px;
}

.img-wrapper--about {
  width: 575px;
  height: 568px;
}

.img-wrapper--about .img-wrapper__szlaczek {
  right: auto;
  left: 0;
  bottom: 0;
}

.img-wrapper--about .img-wrapper__first {
  left: auto;
  right: 0;
  top: 55px;
}

.img-wrapper--about .img-wrapper__second {
  left: auto;
  top: 43px;
  bottom: 0;
}

.img-wrapper--about .img-wrapper__third {
  right: 35px;
  top: auto;
  bottom: 13px;
}

.img-wrapper--service {
  width: 603px;
  height: 590px;
}

.img-wrapper--service .img-wrapper__center {
  top: 60%;
  left: 50%;
  width: 272px;
}

.img-wrapper--service .img-wrapper__szlaczek {
  top: 0;
  left: 0;
}

.img-wrapper--service .img-wrapper__first {
  left: auto;
  right: 0;
  top: 20px;
  width: 248px;
}

.img-wrapper--service .img-wrapper__second {
  top: 150px;
  left: 90px;
}

.img-wrapper--service .img-wrapper__third {
  top: auto;
  right: 35px;
  bottom: 0;
  width: 202px;
}

.img-wrapper--service .img-wrapper__fourth {
  bottom: 13px;
  left: 30px;
  width: 202px;
}

.img-wrapper--about::before {
  background-color: #e6f0ff;
}

.primary-button {
  padding: 16px 35px 14px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-transform: uppercase;
  font-family: "Black Ops One";
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.primary-button--dark {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
}

.primary-button--dark:hover {
  background-color: #fff;
  color: #4d5163;
}

.primary-button--light {
  background-color: #0666f6;
  border: none;
}

.primary-button--light:hover {
  background-color: #0048b4;
}

.primary-button--red {
  background-color: #ed7171;
  border: none;
}

.primary-button--red:hover {
  background-color: #ff5858;
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  color: #fff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

.nav__list-item a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav__list-item a:hover {
  border-color: #fff;
}

.header {
  background-color: #25243a;
  height: 880px;
}

.header__slider {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

.header__slider__left, .header__slider__right {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 48px;
  width: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1111;
}

.header__slider__right {
  left: auto;
  right: 0;
}

.header__slice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 148px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__slice {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
}

.about {
  padding-top: 164px;
  margin-bottom: 190px;
}

.about .container {
  padding: 0 20px;
  max-width: calc(1440px - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numbers {
  margin-bottom: 180px;
  color: #4d5163;
}

.numbers__title {
  text-align: center;
  font-family: "Black ops one";
  color: #4d5163;
  letter-spacing: -1px;
  font-size: 40px;
  max-width: 670px;
  line-height: 48px;
  margin: 0 auto 47px;
}

.numbers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.numbers__elem span {
  display: block;
  text-align: center;
}

.numbers__main {
  font-family: "Black ops one";
  font-size: 56px;
}

.numbers__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 14px;
}

.numbers__description {
  font-size: 14px;
  color: rgba(77, 81, 99, 0.5);
}

.work {
  text-align: center;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.work__item {
  text-align: left;
  margin-right: 30px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.work__item__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 112px;
  width: 112px;
  border-radius: 50%;
  background-color: #ed7171;
  font-size: 72px;
  color: #fff;
  font-family: "black ops one";
}

.work__item__title {
  font-size: 24px;
  font-weight: 700;
  padding: 24px 0 19px;
}

.work__item__description {
  font-size: 16px;
  color: rgba(77, 81, 99, 0.5);
  line-height: 32px;
}

.work__footer {
  color: rgba(77, 81, 99, 0.5);
  margin-bottom: 106px;
}

.work__footer a {
  text-decoration: none;
  color: #4d5163;
}

.service {
  background-color: #25243a;
  padding: 122px 0 190px;
}

.service .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__more {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.service .img-wrapper::before {
  width: 480px;
  height: 480px;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
}

.started {
  background-color: #25243a;
  padding: 0 24px 170px;
}

.started .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0 106px;
  max-width: 1392px;
  min-height: 400px;
  background-color: #0666f6;
  border-radius: 32px;
  overflow: hidden;
}

.started .banner img {
  position: absolute;
  right: 0;
  z-index: 1;
}

.started .banner button {
  position: relative;
  z-index: 2;
}

.team {
  padding: 97px 0 176px;
}

.team__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__img-wrapper {
  position: relative;
}

.team__img-wrapper img {
  position: relative;
  display: block;
  width: 422px;
  border-radius: 24px;
}

.team__img-wrapper::after, .team__img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  height: 100%;
  width: 100%;
  background-color: #0666f6;
  border-radius: 24px;
  z-index: -1;
}

.team__img-wrapper::before {
  left: 16px;
  background-color: #448fff;
}

.team__img-bg {
  position: relative;
}

.team__img-bg::after, .team__img-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  height: 100%;
  width: 100%;
  background-color: #9ac2ff;
  border-radius: 24px;
  z-index: -2;
}

.team__img-bg::before {
  left: 32px;
  background-color: #c7deff;
  z-index: -3;
}

.team__content {
  color: #4d5163;
  margin-left: 78px;
}

.team__title {
  font-size: 24px;
  line-height: 32px;
}

.team__description {
  padding: 40px 0 30px;
  line-height: 32px;
  color: rgba(77, 81, 99, 0.5);
}

.team__name {
  font-size: 20px;
}

.team__workplace {
  color: rgba(77, 81, 99, 0.5);
  margin: 10px 0 21px;
}

.team__left-arrow, .team__right-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(6, 102, 246, 0.3);
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.team__slider {
  overflow: hidden;
}

.team__slider--name {
  width: 200px;
}

.team__slice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__slice {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 700px;
}

.rating {
  background-color: #25243a;
  padding: 93px 0 195px;
  color: #fff;
}

.rating .container {
  max-width: 770px;
  padding: 0;
}

.rating__quote {
  font-size: 72px;
  letter-spacing: -3px;
  font-family: "black ops one";
}

.rating__quotation {
  font-size: 40px;
  line-height: 48px;
  font-family: "black ops one";
  letter-spacing: -1px;
  margin-bottom: 45px;
}

.rating__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating__person img {
  margin-right: 20px;
}

.rating__person__name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.rating__person__description {
  color: rgba(255, 255, 255, 0.5);
}

.price {
  background-color: #25243a;
  padding-bottom: 152px;
}

.price .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__img-wrapper {
  position: relative;
  width: 570px;
  height: 622px;
  background-image: url("../assets/svg/szlaczek 5.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.price__img-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #383759;
}

.price__img-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #383759;
}

.price__size {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 506px;
  height: 384px;
  border-radius: 32px;
  z-index: 1;
}

.price__title {
  padding: 40px 50px;
  font-size: 24px;
}

.price__boxes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #e3eeff;
  padding: 40px 0 16px;
  margin: 0 8px 32px;
  border-radius: 16px;
}

.price__description {
  margin-top: 11px;
  text-align: center;
}

.price__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__box {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 10px;
}

.price__box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.faq {
  padding: 0 24px 191px;
  background-color: #25243a;
  color: #4d5163;
}

.faq__banner {
  margin: 0 auto;
  max-width: 1392px;
  border-radius: 32px;
  padding: 112px 57px 130px;
  background-color: #fff;
}

.faq__question {
  margin: 0 auto;
  max-width: 770px;
}

.faq__question__title {
  font-size: 24px;
  margin: 32px 0;
  cursor: pointer;
}

.faq__question__content {
  margin: 24px 0 40px;
  padding: 27px 32px 20px;
  background-color: #e3eeff;
  border-radius: 24px;
  line-height: 32px;
}

.faq__slider-wrapper {
  position: relative;
  margin-top: 150px;
  padding: 0 60px;
}

.faq__slider {
  overflow: hidden;
}

.faq__slider__left, .faq__slider__right {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border: 1px solid rgba(6, 102, 246, 0.3);
  border-radius: 50%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1111;
}

.faq__slider__right {
  left: auto;
  right: 0;
}

.faq__slice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq__slice {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact {
  background-color: #25243a;
  padding-bottom: 160px;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__map-wrapper {
  position: relative;
}

.contact__point {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.contact__map {
  width: 570px;
}

.contact__list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  margin-bottom: 16px;
}

.contact__list-item a img {
  margin-right: 22px;
}

.footer {
  background-color: #25243a;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  font-style: normal;
}

.footer__socials img {
  margin-right: 8px;
}

.footer__list {
  margin-top: 16px;
}

.footer__list a {
  text-decoration: none;
  color: #fff;
  line-height: 32px;
}

.footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px 0 53px;
}

.footer__policy a {
  text-decoration: none;
  color: #fff;
  margin-left: 74px;
}
/*# sourceMappingURL=style.css.map */