@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.text-wrapper {
  width: 440px;
}

.text-wrapper--about {
  width: 450px;
}

.small-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.small-title--about {
  color: #0666f6;
}

.title {
  padding: 24px 0;
  font-size: 72px;
  color: #fff;
  font-family: "Black Ops One";
  line-height: 80px;
  letter-spacing: -3px;
}

.title--about {
  color: #4d5163;
  letter-spacing: -2px;
  font-size: 56px;
  line-height: 64px;
}

.description {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin-bottom: 33px;
}

.description--about {
  color: #4d5163;
  font-size: 20px;
  margin-bottom: 18px;
}

.description--about-lighter {
  color: rgba(77, 81, 99, 0.5);
  margin-bottom: 41px;
}

.img-wrapper {
  position: relative;
  width: 638px;
  height: 530px;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  height: 530px;
  background-color: #302f4a;
  border-radius: 50%;
}

.img-wrapper img {
  position: absolute;
}

.img-wrapper__center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 314px;
}

.img-wrapper__szlaczek {
  right: 0;
  bottom: 40px;
}

.img-wrapper__second {
  left: 0;
  bottom: 53px;
}

.img-wrapper__third {
  right: 56px;
  top: 55px;
}

.img-wrapper__first {
  left: 41px;
  top: 55px;
}

.img-wrapper--about {
  width: 575px;
  height: 568px;
}

.img-wrapper--about .img-wrapper__szlaczek {
  right: auto;
  left: 0;
  bottom: 0;
}

.img-wrapper--about .img-wrapper__first {
  left: auto;
  right: 0;
  top: 55px;
}

.img-wrapper--about .img-wrapper__second {
  left: auto;
  top: 43px;
  right: 32;
  bottom: 0;
}

.img-wrapper--about .img-wrapper__third {
  right: 35px;
  top: auto;
  bottom: 13px;
}

.img-wrapper--about::before {
  background-color: #e6f0ff;
}

.primary-button {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-transform: uppercase;
  font-family: "Black Ops One";
  font-size: 14px;
  cursor: pointer;
}

.primary-button--dark {
  padding: 16px 35px 14px;
  background-color: transparent;
}

.primary-button--light {
  padding: 16px 35px 14px;
  background-color: #0666f6;
  border: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  color: #fff;
}

.nav__logo {
  width: 81px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

.nav__list-item a {
  color: #fff;
  text-decoration: none;
}

.header {
  background-color: #25243a;
  height: 880px;
}

.header .slider {
  position: relative;
  overflow: hidden;
}

.header .slider__left, .header .slider__right {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 48px;
  width: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1111;
}

.header .slider__right {
  left: auto;
  right: 0;
}

.header .slice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 148px 0 0 50px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header .slice {
  -ms-flex-preferred-size: 1350px;
      flex-basis: 1350px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

.about {
  margin-top: 164px;
  margin-bottom: 190px;
}

.about .container {
  padding: 0 20px;
  max-width: calc(1440px - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numbers {
  margin-bottom: 180px;
  color: #4d5163;
}

.numbers__title {
  text-align: center;
  font-family: "Black ops one";
  color: #4d5163;
  letter-spacing: -1px;
  font-size: 40px;
  max-width: 670px;
  line-height: 48px;
  margin: 0 auto 47px;
}

.numbers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 200px;
}

.numbers__elem span {
  display: block;
  text-align: center;
}

.numbers__main {
  font-family: "Black ops one";
  font-size: 56px;
}

.numbers__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 14px;
}

.numbers__description {
  font-size: 14px;
  color: rgba(77, 81, 99, 0.5);
}
/*# sourceMappingURL=style.css.map */