.faq {
  padding-bottom: 191px;
  background-color: #25243a;
  color: #4d5163;
  &__banner {
    margin: 0 auto;
    max-width: 1392px;
    border-radius: 32px;
    padding: 112px 57px 130px;
    background-color: #fff;
  }
  &__question {
    margin: 0 auto;
    max-width: 770px;
    &__title {
      font-size: 24px;
      margin: 32px 0;
      cursor: pointer;
    }
    &__content {
      margin: 24px 0 40px;
      padding: 27px 32px 20px;
      background-color: #e3eeff;
      border-radius: 24px;
      line-height: 32px;
    }
  }
  &__slice {
    flex-basis: 25%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }
  .slider-wrapper {
    position: relative;
    margin-top: 150px;
    padding: 0 60px;
    .slider {
      overflow: hidden;
      &__left,
      &__right {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        border: 1px solid rgba($color: #0666f6, $alpha: 0.3);
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1111;
      }
      &__right {
        left: auto;
        right: 0;
      }
    }

    .slice-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: 0.5s;
    }
  }
}
