@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 120px;
  max-width: 1440px;
}
.logo {
  width: 81px;
}
.text-wrapper {
  width: 440px;
  &--about {
    width: 450px;
  }
  &--bigger {
    width: 490px;
  }
}
.small-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  &--centered {
    color: #0666f6;
    text-align: center;
  }
  &--about {
    color: #0666f6;
  }
}
.title {
  padding: 24px 0;
  font-size: 72px;
  color: #fff;
  font-family: "Black Ops One";
  line-height: 80px;
  letter-spacing: -3px;
  &--centered {
    font-size: 56px;
    color: #4d5163;
    letter-spacing: -2px;
    padding: 21px 0 11px;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    line-height: 64px;
  }
  &--left {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
  }
  &--about {
    color: #4d5163;
    letter-spacing: -2px;
    font-size: 56px;
    line-height: 64px;
  }

  &--started {
    padding: 21px 0 11px;
    font-size: 56px;
    letter-spacing: -2px;
  }
}
.description {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin-bottom: 33px;
  &--about {
    color: rgb(77, 81, 99);
    font-size: 20px;
    margin-bottom: 18px;
  }
  &--about-lighter {
    color: rgba(77, 81, 99, 0.5);
    margin-bottom: 41px;
  }
  &--left {
    color: #fff;
    font-size: 20px;
    margin-bottom: 18px;
  }
  &--contact {
    color: #fff;
    font-size: 20px;
  }
  &--footer {
    margin-bottom: 0;
  }
  &--centered {
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
    max-width: 570px;
    color: rgba($color: #4d5163, $alpha: 0.5);
  }
}
.img-wrapper {
  position: relative;
  width: 638px;
  height: 530px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 530px;
    background-color: #302f4a;
    border-radius: 50%;
  }
  img {
    position: absolute;
  }
  &__center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 314px;
  }
  &__szlaczek {
    right: 0;
    bottom: 40px;
  }
  &__first {
    left: 41px;
    top: 55px;
  }
  &__second {
    left: 0;
    bottom: 53px;
  }
  &__third {
    right: 56px;
    top: 55px;
  }

  &--about {
    width: 575px;
    height: 568px;
    .img-wrapper {
      &__szlaczek {
        right: auto;
        left: 0;
        bottom: 0;
      }
      &__first {
        left: auto;
        right: 0;
        top: 55px;
      }
      &__second {
        left: auto;
        top: 43px;
        bottom: 0;
      }
      &__third {
        right: 35px;
        top: auto;
        bottom: 13px;
      }
    }
  }
  &--service {
    width: 603px;
    height: 590px;
    .img-wrapper {
      &__center {
        top: 60%;
        left: 50%;
        width: 272px;
      }
      &__szlaczek {
        top: 0;
        left: 0;
      }
      &__first {
        left: auto;
        right: 0;
        top: 20px;
        width: 248px;
      }
      &__second {
        top: 150px;
        left: 90px;
      }
      &__third {
        top: auto;
        right: 35px;
        bottom: 0;
        width: 202px;
      }
      &__fourth {
        bottom: 13px;
        left: 30px;
        width: 202px;
      }
    }
  }
  &--about::before {
    background-color: #e6f0ff;
  }
}

.primary-button {
  padding: 16px 35px 14px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-transform: uppercase;
  font-family: "Black Ops One";
  font-size: 14px;
  cursor: pointer;
  &--dark {
    background-color: transparent;
  }
  &--light {
    background-color: #0666f6;
    border: none;
  }
  &--red {
    background-color: #ed7171;
    border: none;
  }
}
