.nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: #fff;
  &__list {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  &__list-item {
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      padding-bottom: 2px;
      transition: 0.2s;
      &:hover {
        border-color: #fff;
      }
    }
  }
}
