.work {
  text-align: center;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }
  &__item {
    text-align: left;
    margin-right: 30px;
    flex-basis: 25%;
    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 112px;
      width: 112px;
      border-radius: 50%;
      background-color: #ed7171;
      font-size: 72px;
      color: #fff;
      font-family: "black ops one";
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      padding: 24px 0 19px;
    }
    &__description {
      font-size: 16px;
      color: rgba($color: #4d5163, $alpha: 0.5);
      line-height: 32px;
    }
  }
  &__footer {
    color: rgba($color: #4d5163, $alpha: 0.5);
    margin-bottom: 106px;
    a {
      text-decoration: none;
      color: #4d5163;
    }
  }
}
